<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Created by Divyesh Vasani. This site uses data from mapbox.com and drysky.net!</p>
            <img src="/img/me.png" alt="No image" class="portrait">
        
        </div>
        {{>footer}}
    </body>
</html>